:deep(.ant-tabs) {
  .ant-tabs-tab {
    padding: 4px 0;
  }
}

.title-left {
  flex: 1;
}

// 切换完整通道名称或小圆点的图标
// 比例尺2个按钮
.title-right {
  padding-right: 2px;
  font-size: 12px;
  cursor: pointer;

  .anticon {
    margin-right: 4px;
  }

  .icon {
    color: var(--black-t3);

    &:hover {
      color: var(--black-t2);
    }
  }

  .switch-channel-btn {
    font-size: 10px;
    padding: 0 3px;
    border-radius: 4px;
    border: 1px solid var(--black-t6);
  }

}


.chart-dark {
  .title-right {
    .icon {
      color: var(--white-t3);

      &:hover {
        color: var(--white-t2);
      }
    }

    .switch-channel-btn {
      border: 1px solid var(--white-t6);
    }
  }
}

.chart-eyecare {
  .title-right {
    .icon {
      color: var(--eyecare-t3);

      &:hover {
        color: var(--eyecare-t2);
      }
    }

    .switch-channel-btn {
      border: 1px solid var(--eyecare-t6);
    }
  }
}


.right-drawer {
  width: 110px;
  right: -110px;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 0 4px;
  border-radius: 0 4px 4px 0;
  overflow: auto;
  font-size: 12px;
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.8);

  .small-title {
    margin: 2px;
  }

  .given-channel-list {
    margin-top: 4px;
    margin-bottom: 4px;

    .given-item {
      width: 100%;
      margin-bottom: 2px;
      padding: 1px 1px;
      display: flex;

      .label {
        flex: 2;
      }

      .btn {
        text-align: center;
        border-radius: 3px;
        cursor: pointer;

        &.active {
          color: var(--color-primary);
          background: var(--color-bg-blue);
        }

        &:hover {
          color: var(--color-primary);
          background: var(--color-bg-blue);
        }

        &:active {
          transform: scale(0.95);
        }
      }

      .btn-all {
        flex: 2;
        margin-right: 4px;
      }

      .btn-grad {
        flex: 3;
      }
    }
  }

  .custom-channel-list {
    font-size: 12px;
    margin-bottom: 4px;

    .given-item {
      padding: 1px 6px;
      margin-bottom: 3px;
      border-radius: 4px;
      cursor: pointer;

      &.active {
        color: var(--color-primary);
        background: var(--color-bg-blue);
      }

      &:hover {
        color: var(--color-primary);
        background: var(--color-bg-blue);
      }

      &:active {
        transform: scale(0.95);
      }

    }
  }

  .custom-color-list {
    font-size: 12px;
    margin-bottom: 4px;

    .given-item {
      padding: 1px 6px;
      margin-bottom: 2px;
      border-radius: 4px;
      cursor: pointer;

      &.active {
        color: var(--color-primary);
        background: var(--color-bg-blue);
      }

      &:hover {
        color: var(--color-primary);
        background: var(--color-bg-blue);
      }

      &:active {
        transform: scale(0.95);
      }

    }
  }

  :deep(.ant-tabs) {
    color: var(--black-t3);

    .ant-tabs-nav {
      margin-bottom: 4px;
    }

    .ant-tabs-tab .anticon {
      margin: 0 4px;
    }
  }


  // 暗黑数字框
  :deep(.ant-input-number) {
    background-color: var(--white-bg);
    border: 1px solid var(--black-border);

    .ant-input-number-input {
      color: var(--black-t2);
    }

  }


}

.right-drawer {
  background: var(--white-bg);
  color: var(--black-t3);

  .given-channel-list {
    .btn {
      border: 1px solid var(--black-border);
    }
  }

  .custom-channel-list,
  .custom-color-list {
    .given-item {
      border: 1px solid var(--black-border);
    }

  }

  // 比例尺数字框的单元格
  :deep(.ant-input-number-group) {
    .ant-input-number-group-addon {
      font-size: 12px;
      background-color: var(--white-bg);
      color: var(--black-t3);
      border: 1px solid var(--black-border);

      &:last-child {
        border-inline-start: 0;
      }
    }


  }

  // TODO: 算了,这里忽略吧
  // :deep(.ant-input-number) {
  //   .ant-input-number-handler .anticon {
  //     color: var(--black-t3);
  //   }
  // }

}

.chart-dark {
  .right-drawer {
    background: var(--black-bg);
    color: var(--white-t3);

    .given-channel-list {
      .btn {
        border: 1px solid var(--white-border);
      }
    }

    .custom-channel-list,
    .custom-color-list {
      .given-item {
        border: 1px solid var(--white-border);
      }

    }

    :deep(.ant-tabs) {
      color: var(--white-t3);

      .ant-tabs-tab {
        &.ant-tabs-tab-active .ant-tabs-tab-btn {
          color: #2e71de;
        }

        .anticon {
          margin: 0 4px;
        }
      }

      .ant-tabs-ink-bar {
        background: #2e71de;
      }
    }


    // 暗黑数字框
    :deep(.ant-input-number) {
      background-color: var(--gray-bg);
      border: 1px solid var(--white-border);

      .ant-input-number-input {
        color: var(--white-t2);
      }

    }

    :deep(.ant-input-number-group) {
      .ant-input-number-group-addon {
        background-color: var(--gray-bg);
        color: var(--white-t3);
        border: 1px solid var(--white-border);

        &:last-child {
          border-inline-start: 0;
        }
      }
    }

  }
}

.chart-eyecare {
  .right-drawer {
    background: var(--eyecare-bg);
    color: var(--eyecare-t3);

    .given-channel-list {
      .btn {
        border: 1px solid var(--eyecare-border);
      }
    }

    .custom-channel-list,
    .custom-color-list {
      .given-item {
        border: 1px solid var(--eyecare-border);
      }

    }

    :deep(.ant-tabs) {
      color: var(--eyecare-t3);

      .ant-tabs-tab {
        &.ant-tabs-tab-active .ant-tabs-tab-btn {
          color: #2e71de;
        }

        .anticon {
          margin: 0 4px;
        }
      }

      .ant-tabs-ink-bar {
        background: #2e71de;
      }
    }


    // 暗黑数字框
    :deep(.ant-input-number) {
      background-color: var(--eyecare-gray-bg);
      border: 1px solid var(--eyecare-border);

      .ant-input-number-input {
        color: var(--eyecare-t2);
      }

    }

    :deep(.ant-input-number-group) {
      .ant-input-number-group-addon {
        background-color: var(--eyecare-gray-bg);
        color: var(--eyecare-t3);
        border: 1px solid var(--eyecare-border);

        &:last-child {
          border-inline-start: 0;
        }
      }
    }

  }
}