
.page-line {
  background: var(--color-bg);
}

.context-menu {
  // overflow: hidden;
  display: flex;
  flex-direction: column;

  .title {
    min-height: 40px;
    line-height: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    // margin-bottom: 6px;
    margin: 0 6px 6px;
    font-weight: 600;
    border-bottom: var(--border);
  }

  .item {
    min-height: 26px;
    line-height: 1;
    margin: 0 6px 2px;
    padding-left: 6px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    .point {
      width: 10px;
      min-width: 10px;
      height: 10px;
      margin-right: 8px;
      border-radius: 9px;
    }

    &:hover {
      background: var(--color-primary-01);
      color: var(--color-primary);
    }
  }

  .menu-button {
    height: 40px;
    line-height: 1.2;
    padding-left: 8px;
    margin: 0 6px 6px;
    cursor: pointer;
    color: var(--color-primary);
    border-radius: 10px;
    background: var(--color-primary-01);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button-bad {
    position: relative;
    padding-left: 8px;
    font-size: 13px;
    color: #FC8E2D;
    border-radius: 10px;
    background: rgba(252, 142, 45, 0.10);

    >.num {
      position: absolute;
      top: 50%;
      left: 102px;
      transform: translateY(-50%);
      min-width: 16px;
      height: 16px;
      line-height: 16px;
      padding: 0 4px;
      font-size: 11px;
      background: #FC8E2D;
      color: #fff;
      text-align: center;
      border-radius: 10px;
    }
  }

  .menu-button-list {
    // height: 26px;
    // line-height: 26px;
    // padding-left: 6px;
    color: #fff;
    margin: 2px;
    padding-top: 2px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: var(--border);

    >div {
      background: var(--color-primary);
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;

      &:not(:last-child) {
        // margin-right: 2px;
      }
    }
  }

}

.chart-info {
  height: 18px;
  font-size: 13px;
}


.y-name-tooltip {
  position: absolute;
  padding: 3px 6px;
  background: rgba(1, 4, 9, 0.89);
  color: rgba(255, 255, 255, 0.89);
  border: 1px solid rgba(232, 233, 241, 0.1);
  border-radius: 4px;
  z-index: 99999;
  transition: all 0.1s;
  font-size: 12px;
}


.all-time-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0px 0;
  font-size: 12px;
  color: var(--color-t3);

  .left,.right{
    min-width: 60px;
  }

  .left {
    text-align: right;
    padding-right: 4px;
  }
  .right {
    text-align: left;
    padding-left: 4px;
  }

  .time-list {
    display: flex;
    align-items: center;
    width: 100%;
    // margin: 0 4px;

    .item {
      flex: 1;
      background: var(--color-primary-02);
      height: 12px;
      min-width: 1px;
      cursor: pointer;
      border-radius: 1px;

      &:hover {
        background: var(--color-primary);
        height: 14px;
      }

      &.short-item:not(:last-child) {
        margin-right: 1px;
      }

      &.active {
        background: var(--color-primary);
      }
    }

    .time-tooltip {
      position: relative;

      &::before {
        content: attr(data-title);
        position: absolute;
        display: none;
        align-items: center;
        height: 22px;
        padding: 0 6px;
        font-size: 13px;
        background-color: rgba(17, 17, 17, 0.9);
        border: var(--border-transparent);
        color: #fff;
        white-space: nowrap;
        z-index: 999;
        border-radius: 4px;

        left: 50%;
        top: -26px;
        transform: translateX(-50%);
      }

      &:hover::before {
        display: flex;
      }

    }
  }
}


.all-spike-list {
  // width: calc(100% - 40px);
  // left: 20px;
  // height: 15px;
  // background: var(--color-primary-005);
  // border-radius: 10px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: absolute;
  // top: 2px;
  // z-index: 99;


  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 62px 0;
  font-size: 12px;
  color: var(--color-t3);

  position: relative;

  .item {
    width: 2px;
    height: 8px;
    cursor: pointer;
    position: absolute;
    transform: translateX(-50%);

    &.item-alg {
      top: 0px;
      background: #4DA8B7;
      // background: var(--color-title-bg-green); // 暗黑模式下也用亮色比较好

      &:hover,
      &.active {
        top: -1px;
        border: #4DA8B7 1px solid;
      }

    }

    &.item-manual {
      top: 9px;
      background: #6172C9;
      // background: var(--color-title-bg-purple);

      &:hover,
      &.active {
        border: #6172C9 1px solid;
      }

    }


    &:hover {
      height: 9px;
    }


    &.active {
      width: 3px;
      background: #fff;
      height: 9px;
    }
  }

  .spike-tooltip {

    &::before {
      content: attr(data-title);
      position: absolute;
      display: none;
      align-items: center;
      height: 18px;
      padding: 0 4px;
      font-size: 11px;
      // background-color: rgba(83, 29, 231, 0.9);
      border: var(--border-transparent);
      color: #fff;
      white-space: nowrap;
      z-index: 999;
      border-radius: 4px;

      left: 50%;
      top: -24px;
      transform: translateX(-50%);
    }

    &:hover::before {
      display: flex;
    }

    &.item-alg::before {
      background-color: rgba(38, 121, 137, 1);
    }

    &.item-manual::before {
      background-color: rgb(79, 94, 169);
    }
  }

}